@if ( loading ) {
    <!-- You can add *ngIf="loading" instead -->
    <div
        class="d-flex justify-content-center"

    >
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
} @else if ( error ) {
    <ngb-alert [dismissible]="false" type="danger">
        {{ error.message }}
    </ngb-alert>
} @else {
    <!-- <div *ngFor="let workshop of workshops">
        {{ workshop.name }}
    </div> -->
    @for ( workshop of workshops; track workshop.id  ) {
        <div>{{ workshop.name }}</div>
    }
}